---

---

<section class="banner">
  <img src="/images/banner.jpg" alt="HyCoffee Kaffeeanbau" />
</section>

<style>
  .banner {
    width: 100%;
    height: 361px;
    overflow: hidden;
    border: 1px solid var(--warm-dark-grey);
  }

  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 30%;
  }
</style>
